<?php
$blockEnviteSiteId = $block->getLayout()->createBlock('Envite\EnviteChat\Block\EnviteSiteId');
$globalVariableEnviteSiteId = $blockEnviteSiteId->getPlainCode();
?>
<div data-bind="scope: 'envite-chat'">
    <script data-bind="html: enviteframe"></script>
</div>
<script type="text/x-magento-init">
{
    "*": {
       "Magento_Ui/js/core/app":{
       "components":{
       "envite-chat":{
       "component":"Envite_EnviteChat/js/component",
       "enviteframe":"window.envite||(function(d) {var o=envite=function(){o.params[arguments[0]] ? o.params[arguments[0]].push(arguments[1]) : o.params[arguments[0]] = [arguments[1]];},h=d.getElementsByTagName('head')[0];var c=d.createElement('script');o.params={};c.async=true;c.type='text/javascript';c.charset='utf-8';c.src='https://envite-script.web.app/main.js';h.appendChild(c);})(document);envite('init', '<?=$globalVariableEnviteSiteId?>');"
       }
       }
       }
    }
}
</script>
<script>
    //Add button to products for envite chat
    require(["jquery", "domReady!"], function($){
        $( ".product-item" ).css({position: "relative"});
        $( ".product-item" ).append( `<div style="background-image: linear-gradient(99deg, #9678dd, #786fda 102%); color: white; display:none;" class=\"liChk checkbox-circle\" type=\"checkbox\" name=\"checkbox\" value=\"yes\"
onclick="cartConnect(this,'envite_add_item_to_chat')"> <svg class=\"chat-about-it__icon\" width=\"8px\" height=\"7px\" viewBox=\"0 0 8 7\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">
        Generator: Sketch 58 (84663) - https://sketch.com
        <title>reply</title>
        <desc>Created with Sketch.</desc>
        <g id=\"-\" stroke=\"none\" stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\">
            <g id=\"Chat-reply-text\" transform=\"translate(-193.000000, -126.000000)\" fill=\"white\" fill-rule=\"nonzero\">
                <g id=\"Group-2\" transform=\"translate(193.000000, 124.000000)\">
                    <g id=\"reply\" transform=\"translate(0.000000, 2.000000)\">
                        <path d=\"M3.03407407,1.53186607 L3.03407407,0.241777778 C3.03407407,0.150452148 2.97915733,0.0679253333 2.89511348,0.0321232593 C2.81137304,-0.00337540741 2.71337244,0.0145256296 2.64813985,0.0785445926 L0.0691768889,2.5816557 C0.0248794074,2.62443615 -2.49800181e-16,2.68329719 -2.49800181e-16,2.74488889 C-2.49800181e-16,2.80648059 0.0248794074,2.86534163 0.0691768889,2.90812207 L2.64813985,5.41123319 C2.71397926,5.47494874 2.81167644,5.49284978 2.89511348,5.45765452 C2.97915733,5.42185244 3.03407407,5.33932563 3.03407407,5.248 L3.03407407,3.95851852 L3.46430578,3.95851852 C4.87090252,3.95851852 6.16766578,4.72310519 6.84820859,5.952512 L6.85458015,5.96404148 C6.89523674,6.03807289 6.97230222,6.08237037 7.05422222,6.08237037 C7.07303348,6.08237037 7.09184474,6.08024652 7.110656,6.075392 C7.21138726,6.04960237 7.28177778,5.95888356 7.28177778,5.85481481 C7.28177778,3.49612563 5.38335763,1.57252267 3.03407407,1.53186607 Z\" id=\"Path\"></path>
                    </g>
                </g>
            </g>
</g></svg> </div>` );
            setTimeout(function() {
                $( ".checkbox-circle" ).show();
            }, 5000);
    });
    //Fetch item from magento db and send it in envite chat
    function cartConnect(item,method){
        const enviteItemId = item.parentElement.querySelector('input[name="product"]').value;
        const enviteItemImage = item.parentElement.querySelector('.product-item-photo .product-image-photo').src;
        const findProductCurrency = /[\$\xA2-\xA5\u058F\u060B\u09F2\u09F3\u09FB\u0AF1\u0BF9\u0E3F\u17DB\u20A0-\u20BD\uA838\uFDFC\uFE69\uFF04\uFFE0\uFFE1\uFFE5\uFFE6]/;
        const enviteItemCurrency = (item.parentElement.querySelector('.price').innerText).match(findProductCurrency)[0];
        console.log(enviteItemCurrency)
        fetch(`<?=$block->getBaseUrl()?>checkproduct/page/view?id=${parseInt(enviteItemId)}`)
            .then(response => response.json())
            .then(magentoData => {
                const data = {'productId': magentoData.entity_id,
                    'productName': magentoData.name,
                    'productCurrency': enviteItemCurrency,
                    'productPrice': parseFloat(magentoData.price).toFixed(2),
                    'imgSource' :enviteItemImage,
                    'productLink':`<?=$block->getBaseUrl()?>${magentoData.url_key}.html`,
                    'likes' : [],
                    'dislikes': []
                };
                envite(method, data)
            });
    }
// Listener for cart checkout to update envite checkout
    require(['Magento_Customer/js/customer-data'], function (customerData) {
        var cart = customerData.get('cart');
        var count = cart().summary_count;
        cart.subscribe(function () {
            if (cart().summary_count !== count) {
                count = cart().summary_count;
                items = cart().items;
                const data = [];
                for(let item of items){
                    const findProductCurrency = /[\$\xA2-\xA5\u058F\u060B\u09F2\u09F3\u09FB\u0AF1\u0BF9\u0E3F\u17DB\u20A0-\u20BD\uA838\uFDFC\uFE69\uFF04\uFFE0\uFFE1\uFFE5\uFFE6]/;//Regex for currency sign
                    data.push({
                        id:item.item_id,
                        name: item.product_name,
                        qty: item.qty,
                        currency: (item.product_price).match(findProductCurrency)[0],
                        price: parseFloat(item.product_price_value).toFixed(2),
                        cost: parseFloat(item.product_price_value*item.qty).toFixed(2),
                        image: item.product_image.src,
                        url: item.product_url
                    })
                }

                if(typeof envite !== 'undefined') {
                    envite('update_cart', {'currency': 'USD', 'items': data});
                }
            }
        });
    });

<?php
// SUBMIT ORDER IN ENVITE DB
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
?>
<?php
    if(!is_null($customerSession->getEnviteSubmitOrder())){
?>
    window.envite||(function(d) {var o=envite=function(){o.params[arguments[0]] ? o.params[arguments[0]].push(arguments[1]) : o.params[arguments[0]] = [arguments[1]];},h=d.getElementsByTagName('head')[0];var c=d.createElement('script');o.params={};c.async=true;c.type='text/javascript';c.charset='utf-8';c.src='https://envite-script.web.app/main.js';h.appendChild(c);})(document);envite('init', '<?=$globalVariableEnviteSiteId?>');
    require(["domReady!"], function() {
        envite('submit_order', {
            'order_id': <?=$customerSession->getEnviteSubmitOrder()['order_id']?>, // Order Id
            'order_cookie': document.cookie, // Order cookie
            'grand_total': <?=$customerSession->getEnviteSubmitOrder()['grand_total']?>, // Total price after discount amount
            'discount': <?=$customerSession->getEnviteSubmitOrder()['discount']?>, // Discount amount
            'type': '<?=$customerSession->getEnviteSubmitOrder()['type']?>', // Order Type
            'currency': '<?=$customerSession->getEnviteSubmitOrder()['currency']?>', // Currency Type
            'items': <?=json_encode($customerSession->getEnviteSubmitOrder()['items'])?>
        });
    });

<?php
$customerSession->unsEnviteSubmitOrder();//Remove session when payment success
    }
?>
</script>
